{% extends 'AppBundle::base.html.twig' %}

{% block content %}






{% for entity in entities %}
    <div class="blog_post">
        <div class="blog_postcontent">
            <div class="image_frame"><a href="#"><img src="http://placehold.it/1170x520" alt="" /></a></div>
            <h3><a href="blog-post.html">{{ entity.title }}</a></h3>
            <ul class="post_meta_links">
                <li><a href="#" class="date">{% if entity.postDate %}{{ entity.postDate|date('d M Y') }}{% endif %}</a></li>
                <li class="post_by"><i>by:</i> <a href="#">{{ entity.getPostAuthor() }}</a></li>
                <li class="post_categoty"><i>in:</i> <a href="#">Web tutorials</a></li>
                <li class="post_comments"><i>note:</i> <a href="#">{{ entity.getCommentsCount() }} Comments</a></li>
            </ul>
            <div class="clearfix"></div>
            <div class="margin_top1"></div>
            <p>{{ entity.content|length > 50 ? entity.content|slice(0,50) ~ '...' : entity.content }} <a href="{{ path('post_show', { 'title': entity.permalink }) }}">read more...</a></p>
        </div>
    </div><!-- /# end post -->




    {% if is_granted('ROLE_ADMIN') %}
        <ul>
            <li>
                <a href="{{ path('post_new') }}">
                    Create a new entry
                </a>
            </li>
        </ul>
    {% endif %}


{% endfor %}


{% endblock %}
